img {
  transition: all 2s ease-in-out;
  display:block;
  width: 100%;
}

.biglink, .imagelink {
  transition: all 0.2s ease-in-out;
}

a.imagelink {
  display: block;
  height: 100%;
  line-height: 100%;
  vertical-align: top;
  position: relative;
  text-decoration: none;
}

a.imagelink img.faded {
  filter: grayscale(0.7);
}

a.imagelink:hover img.faded,
a.imagelink:active img.faded
{
  filter: grayscale(0);
}

html, body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12pt;
  line-height: 20pt;
  background-color: #f8f4f0;
  max-width: 1000px;
  margin: 0 auto;
}

div#content {
  padding: 32px 64px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

table {
  margin-right:auto;
  border-collapse: collapse;
  width: 100%;
}

div.imagegrid {
  margin: 4rem 0;
  display: grid;
  grid-gap: 24px 4px;
  grid-template-columns: repeat(2, 1fr);
}

div.imagebox {
  overflow: hidden;
}

div.imagebox img {
  width: 100%;
}

td, th {
  border: 1px solid #8ac;
  padding: 8px 12px;
  vertical-align: text-top;
  text-align: left;
}

th {
  background-color: #f0f8ff;
}

table.smaller td,
table.smaller th
{
  padding: 0;
  font-size: 80%;
  border: none;
}

table.smaller td:first-child {
  text-align: right;
  padding-right: 16px;
  width:1px;
  white-space: nowrap;
}

img#logo {
  max-width: 231px;
  display: inline-block;
}

li {
  margin: 0.5rem;
  padding-left: 0.5rem;
}

li > p {
  margin-top: 0;
}

div.biglink {
  font-size: 18pt;
  line-height: 18pt;
  text-align: center;
  padding: 8px 0;
  transform-origin: 50% 100%;

  display: block;
  color: #000;
  background-color: #fff;
  border-top: 1px solid #fff;
  margin: 0;
  text-decoration: none;
  position: relative;
  left: 0;
  top: 0;
}

a:not(.imagelink):link,
a:not(.imagelink):visited
{
  color: #046;
  text-decoration: none;
}

a:not(.imagelink):hover,
a:not(.imagelink):active
{
  color: #379;
  text-decoration: underline;
}

a:hover img:not(#logo):not(#menuimg) {
  transform: scale(1.5);
}

a:hover img#menuimg {
  transform: scale(1.2);
}

a:hover .biglink,
a:active .biglink
{
  background-color: #000;
  color: #fff;
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4 {
  color: #000;
}

iframe#video {
  border: none;
  width: 320px;
  height: 240px;
}

#leftheading {
  max-height: 21px;
}

#rightheading {
  text-align: right;
  font-size: 24px;
  display: inline-block;
  flex-grow: 1;
}

#heading {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 0 0 3px 0;
  margin-bottom: 36px;
  border-bottom: 3px solid #8ac;
}

h2 {
  margin-top: 24px;
}

hr {
  color: #8ac;
  background-color: #8ac;
  height: 1px;
  border: none;
  margin-top: 24px;
}

pre.code {
  display: block;
  padding: 8px 0 8px 12px;
  background-color: #f0f0f0;
  font-family: 'Inconsolata', monospace;
  border-left: 2px solid #8ac;
}

pre > .scriptcomment {
  color: #779;
  font-style: italic;
}

#warning {
  position: relative;
  display: block;
  margin: 1rem 5rem;
  background-color: #ffffff;
  padding: 2rem;
  border-style: dashed;
  border-color: #e00;
  border-width: 5px;
  font-size: 125%;
  line-height: 150%;
  box-shadow: 10px 10px 5px rgba(0,0,0, 0.5);
  margin-top: 30px;
  margin-bottom: 50px;
}

code, span.code {
  font-family: 'Inconsolata', monospace;
  font-size: 120%; /* Inconsolata is a bit smaller than the regular font */
  margin:-1rem 0; /* don't pad lines vertically */
  padding: 0 3px; /* but add some horizontal padding for clarity */
}
