.rowimage, .imagelink, .biglink {
-webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

body, html {
  font-family: Georgia, serif;
  margin: 1%;
  font-size: 10pt;
  background-color: #d8d8d8;
}

h1, h2, h3, #leftheading {
  font-family: Verdana, Geneva, sans-serif;
}

table {
  margin-left:auto; 
  margin-right:auto;
  border-collapse: collapse;
}

.imagetable {
  display: block;
  max-width: 1000px;
}

table:not(.imagetable) {
  width: 94%;
}

td, th {
  border-style: solid;
  border-color: #a0a0a0;
  border-width: 1px;
  padding: 5px;
  vertical-align: text-top;
  text-align: left;
}

.imagelink {
  position: relative;
}

.row, .rowheading, .rowimage_element, .rowimage {
  border-style: none;
  border-width: 0px;
}

.rowimage_element {
  width: 50%;
  padding: 12pt;
}

.rowimage {
  width: 100%;
  z-index: 1;
}

.biglink {
  font-size: 18pt;
  text-align: center;
  padding: 4pt 0 4pt 0;
  z-index: 2;

  position: absolute;
  bottom: 8pt;
  left: 0px;
  width: 100%;
  background-color: rgba(64,64,0, 0.6);
}

a:link, a:visited {
  color: #006;
}

a:hover, a:active {
  color: #33f;
}

a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  font-weight: bolder;
  box-shadow: 10px 10px 5px rgba(0,0,0, 0.3);
}

a:hover .biglink {
  -webkit-transform: scale(1.12, 1);
  -moz-transform: scale(1.12, 1);
  -o-transform: scale(1.12, 1);
  -ms-transform: scale(1.12, 1);
  transform: scale(1.12, 1);
  background-color: #000;
  box-shadow: 10px 10px 5px rgba(0,0,0, 0.3);
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4 {
  color: #000;
}

.imagelink:link, .imagelink:visited { 
  text-decoration: none;
  color: #fff;
  -webkit-filter: saturate(0.4) sepia(0.3) contrast(1.2);
  -moz-filter: saturate(0.4) sepia(0.3) contrast(1.2);
  -o-filter: saturate(0.4) sepia(0.3) contrast(1.2);
  -ms-filter: saturate(0.4) sepia(0.3) contrast(1.2);
  filter: saturate(0.4) sepia(0.3) contrast(1.2);
}

.imagelink:hover, .imagelink:active {
  text-decoration: none;
  color: #fff;
  -webkit-filter: saturate(1.1) sepia(0) contrast(1);
  -moz-filter: saturate(1.1) sepia(0) contrast(1);
  -o-filter: saturate(1.1) sepia(0) contrast(1);
  -ms-filter: saturate(1.1) sepia(0) contrast(1);
  filter: saturate(1.1) sepia(0) contrast(1);
}

#leftheading {
  text-align: left;
  float: left;
  font-size: 28px;
  font-weight: bolder;
  position: absolute;
  bottom: 0px;
}

#rightheading {
  text-align: right;
  float: right;
  font-size: 24px;
  font-weight: lighter;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#heading {
  height: 40pt;       /* make size absolute to keep other stuff out */
  clear: both;
  margin-bottom: 12px;
  position: relative;
  width: 100%;
}

hr {
  color: #000000;
  background-color: #000000;
  height: 3px;
}

.code {
  position: relative;
  left: 3%;
  width: 94%;
  padding: 8px 5px;
  background-color: #e8e8e8;
  border-style: none;
}
