.imagelink {
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

body, html {
  font-family: Verdana, sans-serif;
  margin: 1%;
  font-size: 10pt;
  background-color: #e0e0d0;
}

.row, .rowheading, .rowimage_element, .rowimage {
  border-style: none;
  border-width: 0px;
}

.rowimage_element {
  width: 50%;
  padding: 20px 10px;
}

.rowimage {
  width: 100%;
  z-index: 1;
}

.rowheading {
  font-weight: bolder;
  width: 100%;
  top: 8pt;
}

.biglink {
  font-size: 18pt;
  text-align: center;
  padding: 4pt;
  z-index: 2;
  background-color: #400;
}

a:link, a:visited {
  color: #008;
}

a:hover, a:active {
  color: #33f;
}

.imagelink:link, .imagelink:visited { 
  text-decoration: none;
  color: #fff;
  -webkit-filter: sepia(0.6) saturate(0.7) contrast(0.9);
  -moz-filter: sepia(0.6) saturate(0.7) contrast(0.9);
  -o-filter: sepia(0.6) saturate(0.7) contrast(0.9);
  -ms-filter: sepia(0.6) saturate(0.7) contrast(0.9);
  filter: sepia(0.6) saturate(0.7) contrast(0.9);
}

.imagelink:hover, .imagelink:active {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  -webkit-filter: sepia(0) saturate(1.1) contrast(1.1);
  -moz-filter: sepia(0) saturate(1.1) contrast(1.1);
  -o-filter: sepia(0) saturate(1.1) contrast(1.1);
  -ms-filter: sepia(0) saturate(1.1) contrast(1.1);
  filter: sepia(0) saturate(1.1) contrast(1.1);
}

#leftheading {
  text-align: left;
  float: left;
  font-size: 28px;
  font-weight: bolder;
}

#rightheading {
  text-align: right;
  float: right;
  font-size: 24px;
  font-weight: lighter;
}

#heading {
  height: 40px;       /* make size absolute to keep other stuff out */
  clear: both;
  margin-bottom: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border-style: solid;
  border-color: #a0a0a0;
  border-width: 1px;
  padding: 5px;
  vertical-align: text-top;
  text-align: left;
}

hr {
  color: #000000;
  background-color: #000000;
  height: 3px;
}

.code {
  width: 100%;
  padding: 8px 5px;
  background-color: #f0f0f0;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 1px;
}
