body {
  background-color: #e0e0d0;
}

h1 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 24pt;
}

h3 {
  font-family: Verdana, sans-serif;
  font-weight: lighter;
  font-size: 20pt;
}

p,li,tr,th {
  font-family: Verdana, sans-serif;
  font-size: 10pt;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #000080;
}

a:hover {
  text-decoration: none;
  background-color: #ffff00;
}

table.grid {
  width: 100%;
  border-spacing: 10px;
}

table.tasks {
  width: 100%;
}

th.tasks, td.tasksprio, td.tasks {
  text-align: left;
  padding: 8px;
  border-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
}

img.boot {
  width: 62px;
  height: 62px;
}

th.grid {
  width: 33%;
  font-family: Verdana, sans-serif;
  background-color: #c0c0c0;
  color: #000000;
  padding: 10px;
}

td.grid {
  width: 33%;
  background-color: #ffffff;
  padding: 8px;
  border-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
}
